.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  min-height: 60vh;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .swiper-slide {
    background: white;
    min-height: 50vh;
  }

  .swiper-slide img {
    object-fit: cover;
  }
}

@media screen and (max-width: 450px) {
  .swiper-slide {
    background: white;
    min-height: 30vh;
  }

  .swiper-slide img {
    object-fit: scale-down;
  }
}
